<nav class="nav-bar">
    <div class="logo">
      <a href="#">
        <img src="imgTiendaLogos/Dragon Logo.png" alt="Dragon Logo">
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Inicio</a></li>
      <li><a href="#about">Productos</a></li>
      <li><a href="#contact">Contacto</a></li>
      <li>
        <div class="bag">
            <a href="#">
              <img style="filter: invert(1);" src="imgTiendaLogos/Compra.svg" alt="Dragon Logo">
            </a>
          </div>
      </li>
    </ul>
  </nav>
  